.container{
    width:1090px;
    margin: 0 auto;
   
}
.header-top-background{
     background-color: #f2f2f2;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap:20px;
}
.bar-for-responsive{
    display: none;
}
.header-top-right-side{
    display: flex;
    gap:20px;
}