.container{
    width:1100px;
    margin:0 auto;
}
.to-be-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    display:flex;
    gap:9px;
}
.menu-icon{
    display: none;
}
.right-side{
    display: flex;
    gap:20px;
}
ul li{
    font: 11.22px Arial, Helvetica, sans-serif;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    background-color: #f2f2f2;
    padding: 12px 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    position: relative;
  }
  nav ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  nav ul li:hover::after {
    width: 100%;
  }

.slider-cards{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.slider-card{
    font-family: Arial, Helvetica, sans-serif;
    h1{
        font: 11.19px  Arial, Helvetica, sans-serif;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    p{
        font-size: 10.21px;
        color:rgba(194, 10, 10, 0.705);
    }
}
.header-bot{
    background-color: #f2f2f2;
    padding: 25px 0;
    h1{
        font:  22.1px  Arial, Helvetica, sans-serif ;
    }
 
}  
.link{
        font :  17px   Arial, Helvetica, sans-serif;
        color:blue;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        display: inline-block;
        padding-bottom:10px;
    }
    .to-be-centered,.underline-rainbow{
        display: flex;
        flex-direction: column;
        gap:15px;
       align-items: center;
    } 
    .underline-rainbow a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    transition: width 0.8s ease;
  }

  .underline-rainbow a:hover::after {
    width: 100%;
  }

.titanium-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    padding: 30px 0;
   
} 
.titanium-header p, .newphoria-header h6{
    color:rgb(190, 15, 15);
    font: 13.6px  Arial, Helvetica, sans-serif;
}

.titanium-header h1{
        color:#ffffff75;
        font: 18.7px  Arial, Helvetica, sans-serif;
}
.titanium-header h2, .newphoria-header p{
    color:#fff;
    font: 15.3px Arial, Helvetica, sans-serif;
}
.titanium-header a{
    color:blue;
    font: 17px Arial, Helvetica, sans-serif;

}
.titanium-header .buy{
    font: 13.6px  Arial, Helvetica, sans-serif;
    color:#fff;
    background-color: #0071E3;
    padding: 10px 25px;
    border-radius: 30px;
    text-align: center  ;
    width:fit-content;
}
.titanium{
    background-color: #000;
    padding: 40px 0 350px 0;

}
.titaniumm{
    height: 40px;
}
.titanium-phone{
   margin: auto;
   padding: 100px 0 0 0; 
   position:absolute;
   top:-40px;
   left:-100px;
   scale: 0.9;
}
.titanium-bot{
    padding:70px 0;
    position: relative;
}

.titanium-whole{
    display: flex;
    background-color: #000;
    flex-direction: column;
}
.link-whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.buy{
    font: 13.6px  Arial, Helvetica, sans-serif;
    color:#fff;
    background-color: #0071E3;
    padding: 10px 25px;
    border-radius: 30px;
    text-align: center  ;
    width:fit-content;
}
.newphoria-header h3{
    font: 18.7px Arial;
}
.newphoria-header p{
    font: 15.3px Arial, Helvetica, sans-serif;
    color:#000;

}
.newphoria-header h1{
    font: 47.6px Arial;
}
.newphoria-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    padding: 40px 0;
}
#newphoria {
    overflow: hidden;
}

.newphoria-img img {
    width: 100%;
    height: auto;
    display: block; 
    object-fit: cover; /
}

.newphoria-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content */
    text-align: center; /* Centers text */
    padding: 1rem;
}

@media (max-width: 768px) {
    .newphoria-img img {
        width: 100%; 
        scale: 1.5;
        padding-top:50px;/* Ensure image does not exceed container width */
    }
}

#newphoria{
    margin-bottom:100px;
}
#love-iphone{
    height: 100vh;
    background-color: #fbfbfb;
    padding-bottom: 50px;
}
.love-iphone-whole{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.love-iphone-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;   
}
.love-iphone-left h4{   
    font: 18.7px Arial;
}
.love-iphone-left h1{
    font: 51px Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:#1E3791;
}
.love-iphone-left p{
    font: 20.4px Arial, Helvetica, sans-serif;
}
.love-iphone-whole img{
    height: 900px;
}
.guided-tour-header{
    display: flex;
    padding-bottom: 50px;
    gap:10px;
    flex-direction: column;
}
.guided-tour-header h1{
    font: 47.8px Arial, Helvetica, sans-serif;
    color:white;
}
.guided-tour-header h2{
    font: 23.8px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
}
.guided-tour-header a{
    display: inline-block;
    text-decoration: none;
    font: 13.6px Arial, Helvetica, sans-serif;
    font: 13.6px  Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 10px 25px;
    border-radius: 30px;
    text-align: center  ;
    width:fit-content;
    color:#000;
    i{
        display: none;
    }
}
.guided-tour-whole img{
    width: 970px;
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.guided-tour-whole{
    position: relative;
    height: fit-content;
    gap:20px;
}
.guided-tour-header {
    position: absolute;
    left: 410px;
    top:500px;
}
#guided-tour{
    margin: 30px 20px;
}
#right-for-you{
    padding-bottom: 30px;
}
#right-for-you h1{
    font: 51px  Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    font-weight:600;
}
.card{
    display: flex;
    flex-direction: column;
}
.phone-img{
    width: 200px;
}
.colors-img{
    width:100px;
}
.p-red{
    color:rgb(109, 3, 3);
}
.cards{
    padding: 50px 0;;
    display: flex;
    flex-wrap: wrap;   
    gap:5px;
}
.card-1{
    padding-top: 5.3px;  
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    max-width: 400px;
}
.card h2{
    font: 17px Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.card h5{
    font: 17px Arial, Helvetica, sans-serif;
}
.card h6{
    font: 13.6px Arial, Helvetica, sans-serif;
}
.card p{
     font: 11.9px Arial, Helvetica, sans-serif;
}
.card hr {
    border: none;
    background-color: #7c7979;
    height: 2px; 
    width: 200px;
}
.phone-img,
.colors-img {
    width: 50%; 
    height: auto;
    object-fit: cover; 
}
.icons{
    width:40px;
}
.card-lower-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.card-lower-parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.card-lower-parts h4{
    font: 24px Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.right-for-you-links{
    display: flex;
    flex-direction: column;
    gap:20px;
}

#ways-to-save{
    padding: 30px 0;
    background-color: #f2f2f2;
}
#ways-to-save h2{
    font: 47.6px Arial, Helvetica, sans-serif;
    text-align: center;
}

#ways-to-save h3{
    font: 47.6px Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}
.ways-to-save-cards{
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}
.ways-to-save-first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.card-2{
    max-width: 300px;
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:23px;
    padding:40px 20px;

    background-color: #fff;
}
.card-2-last{
    padding-top:40px;
    justify-content: space-between;
    overflow: hidden;
}
.card-2 h1{
    font: 27px Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}
.card-2-img-1{
    height:20vh;
    background: url(../img/savei_phone.jpg)center / contain no-repeat;
}
.card-2-img-2{
    height:20vh;
    background: url(../img/appleemoji.jpeg)center / contain no-repeat;
}
.card-2-img-3{
    height: 30vh;
    background: url(../img/aplepphone.jpeg)center / contain no-repeat;
}
.card-2 p{
    text-align: center;
    font: 17px Arial, Helvetica, sans-serif;
    color:#7c7979;
}
.ways-to-save-first-row{
    display: flex;
    flex-wrap: wrap;
}
.best-place-to-buy{
    height:80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/applebg6.jpeg)center/cover;
    margin: 20px 0;
}
@media screen and (max-width: 768px) {
    .best-place-to-buy{
        background: url(../img/applebg6.jpeg)center/cover no-repeat;
}
    .best-to-buy-header{
        overflow: hidden;
    }
    .best-to-buy-header h1{
        width: fit-content;
        text-align: center;
    }
    .mage-safe-reverse{
        flex-direction: column-reverse;
    }
    .best-to-buy-header p{
        width:360px;
        text-align: center;
        padding-top:0;
    }
}


.best-to-buy-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top:50px;
    overflow: hidden;
    gap:20px;

}

.container-3{
    width:490px;
    margin: 0 auto;
}

.best-to-buy-header h1{
    font: 47.6px Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}
.best-to-buy-header p{
    font: 17px Arial, Helvetica, sans-serif;
}
.mag-safe-height-1{
    height: 50vh;
}
@media screen and (max-width: 768px) {
    .mag-safe-reverse{
        flex-direction: column-reverse;
    }
    .mag-safe-direction{
        flex-direction: column;
    }
}

.mag-safe{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap:20px;
    padding:60px;
}
.mag-safe-left{
    text-align: center;
    flex-basis:40%;
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mag-safe h1{
    font: 47.6px Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.mag-safe p{
    font: 17px Arial, Helvetica, sans-serif;
}
.mag-safe-right{
    margin-top:20px;
    height:40vh;
    width: 100%;
    overflow: hidden;
    background: url(../img/applephones.jpeg)center/contain no-repeat;
}
.mag-safe-right-1{
    height:40vh;
    width: 100%;
    overflow: hidden;
    background: url(../img/appleanahtarlik.jpeg)center/contain no-repeat;
}
.mag-safe-left-1{
    text-align: center;
    flex-basis:60%;
    display: flex;
    gap:7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mag-safe-links{
    display: flex;
    gap:20px;
}
.mag-safe-2{
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .mag-safe-2{
        height:50vh;
    }
}
.mag-safe-right-2{
    height:50vh;
    width: 100%;
    background: url(../img/applebg9.jpeg)center/cover;
}
.card-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    max-width: 350px;
    gap:10px;
}
.card-4 h1{
    font: 22px Arial, Helvetica, sans-serif;
}
.card-4 p{
    font: 17px Arial, Helvetica, sans-serif;
    text-align: center;
}
.shop-cards{
    margin: 20px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
}
.mag-safe-right-3{
    overflow: hidden;
    height:50vh;
    width: 100%;
    background: url(../img/ios17.jpg)center/cover;
}
.mag-safe-right-4{
    overflow: hidden;
    height:60vh;
    width: 100%;
    background: url(../img/applebg6.jpeg)center/cover;
}
.mag-safe-right-5{
    overflow: hidden;
    height:80vh;
    width: 100%;
    background: url(../img/applebg.jpeg)center/cover;
}
.mag-safe-right-6{
    overflow: hidden;
    height:80vh;
    width: 100%;
    background: url(../img/privacy.jpg)center/cover;
}
.mag-safe-right-7{
    overflow: hidden;
    height:80vh;
    width: 100%;
    background: url(../img/privacy.jpg)center/cover;
}

.mag-safe-right-8 {
    overflow: hidden;
    height:80vh;
    width: 100%;
    background: url(../img/privacy.jpg)center/cover;
}


.mag-safe{
    position: relative;
}
.mag-safe-left-move{
    position: absolute;
    top: 40px;
    width: 400px;
}
.mag-safe-3{
    width: 38%;
    height: 60vh;
    h1{
        font-weight: 500;
    }
}
.switching-privacy{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.apple-one-right h1{
    font-weight: 800;
    font: 44px Arial, Helvetica, sans-serif;
    text-align: center;
}
.apple-one-right p{
    font: 23.4px Arial, Helvetica, sans-serif;
    text-align: center;
}
.apple-one-left{
    height:50vh;
    width:100%;
    background: url(../img/applebg2.jpeg)center/contain no-repeat;
}
.apple-one-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    gap:20px;
}
.apple-one-links{
    display: flex;
    gap:10px;
}
.apple-one{
    display: flex;
    gap:20px;
    padding: 20px 30px;
    background-color: #fff;
}
#more-of-your-phone{
    background-color: #f2f2f2;
}
.apple-one-tv-music{
    display: flex;
    flex-wrap: wrap;
    gap:23px;
    margin: 30px 0;

}
.apple-tv-music-card{
    padding: 20px;
    width:45%;
    background-color: #000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: space-between;
    h1{
        color:white;
        font-weight: 800;
        font: 44px Arial, Helvetica, sans-serif;
        text-align: center;
    }
    p{
        color:white;
        font: 23.4px Arial, Helvetica, sans-serif;
        text-align: center;
    }
  
}

.apple-tv-music-card-2{
    background-color: #fff;
   h1,p{
    color:black;
   }
}
.apple-tv-music-btm{
    height:50vh;
    width:100%;
    background: url(../img/tv+_bg.png)center/cover;
}
.apple-tv-music-btm-2{
    height:50vh;
    width:100%;
    background: url(../img/music_bg.jpg)center/cover;
}


@media screen and (max-width: 768px) {
    .mag-safe-right-2{
    background: url(../img/applebg9.jpeg)center/contain no-repeat;
    }
    .mag-safe-right-3{
    background: url(../img/ios17.jpg)center/contain no-repeat;
    }
    .mag-safe-right-4{
        background: url(../img/applebg6.jpeg)center/contain no-repeat;
    }
    .mag-safe-right-5{
        background: url(../img/applebg6.jpeg)center/contain no-repeat;
    }
    .mag-safe-right-6{
        background: url(../img/privacy.jpg)center/contain no-repeat;
    }
    .mag-safe-3{
        width:100%;
    }
    .mag-safe{
        position: static;

    }
    .mag-safe-left-move{
        position: static;
    }
    .apple-one-left{
        display: none;
    }
    .apple-one-right{
       flex-basis: 100%;
    }
    .apple-tv-music-card{
        width:100%;
        height:60vh;
        overflow: hidden;
    }
    .apple-tv-music-btm{
        background: url(../img/tv+_bg.png)center/contain no-repeat;
    }
    .apple-tv-music-btm-2{
        background: url(../img/music_bg.jpg)center/contain no-repeat;
    }


}




@media screen and (max-width: 768px) {
    /*.menu-icon {
        display: flex;
        padding-left: 10px; 
        padding-top: 3px;
    } */   
     .mag-safe-right-3{
        display: none;
     } 
    .mag-safe-height-2{
        height:75vh;
    }
     .mag-safe-height{
        height:10vh;
     }
    .container{
        width: 80%;
    }
    .titanium-phone {
        width: 80%; 
        margin: auto;
        padding: 20px 0;
        transform: rotate(90deg); 
        transform-origin: center;
        display: block;
        scale:0.85;
   } 
   .titanium-header{
        margin-bottom: 40px;
    }
    
    .titanium-whole {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 80px; 
        width: 100%;
    }
    .titanium{
        height: 90vh;
    }
    .to-be-centered h1{
        text-align: center;
    }
    .menu-bar{
        display: none;
    }
    .love-iphone-whole{
        flex-direction: column;
    }
    .guided-tour-header{
        position: static;
        display: flex;
        align-items: center;
    }
    .guided-tour-whole{
        position: static;
        padding-top:450px;
    }
    .guided-tour-whole{
        display: flex;
        flex-direction: column;
        gap:0px;
    }
    .guided-tour-header h2,.guided-tour-header h1{
        color:#000;
    }
    .guided-tour-header a{
        color:#0071E3;
        i{
            display:inline-block;
        }
    }
    .guided-tour-header h1{
        font-size: 30.6px;
    }
    .container-2{
        width: 95%;
        margin: 0 auto;
    }
    .guided-tour-img img {
        width: 100%; 
        max-width: 900px; 
        height: auto; 
        border-radius: 0;
    }
    #love-iphone{
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .love-iphone-whole{
        gap: 40px;
    }
    .card{
        width:300px;
    }
    .cards{
        justify-content: center;
        gap:20px;
    }
    
    
    
}


@media screen and (max-width: 480px) {
    .guided-tour-img img {
        width: 70%; 
        max-width: 300px; 
    }
}